<article>
    <section class="card">
        <h1>Career Summary</h1>
        <p>
            I have a bachelors degree in Computer Science from FCSE, and 2 years work experience as a Data Scientist. I love to
            learn and apply my knowledge, I like working in collaborative environments and I am a great
            team player. The focus of my studies was mostly Data Science and Applied Mathematics, while my work
            experience includes chat-bot development and data analysis (at GrabIT) and developing systems for time
            series anomaly detection (at Nebb). During my studies at FCSE I also published three research papers, two of them
            at the CiiT Conference in Macedonia, and one at the MIPRO Convention in Croatia.
        </p>
    </section>
    <section class="card">
        <h1>Hobbies</h1>
        <p>
            I have several hobbies that keep life exciting and fulfilling.
            I'm an avid gamer, immersing myself in virtual worlds and challenging adventures. 
            I also love reading, which offers an escape into captivating narratives and thought-provoking ideas. 
            Chess is something I've loved to play ever since I was a child, I'm not very good at it, the game is very dear to me. 
            Programming is both a profession and a passion, ever since I wrote my first "Hello, world!" more than 10 years ago.
            Recently, I've taken up Muay Thai, finding joy in the physical and mental discipline of martial arts training. 
        </p>
    </section>
    <section class="card">
        <h1>Contact</h1>
        <p>
            You can contact me on my email or linked in, feel free to look around my github:
        </p>
        <ul>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/aleksandar-kitanovski/">Aleksandar Kitanovski</a></li>
            <li>GitHub: <a href="https://github.com/AleksandarKitanovski">AleksandarKitanovski</a></li>
            <li>E-mail: kitanovski.aleksandar&#64;yahoo.com</li>
        </ul>
    </section>
</article>