article {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 1em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: lightseagreen;
}

p {
    text-align: justify;
}

li {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: lightseagreen;

    &:hover {
        color: seagreen;
    }

    &:visited {
        text-decoration: inherit;
    }
}

.card {
    width: 30em;
    height: 400px;
    padding: 2em; 
    margin: auto;

    box-shadow: 0.3em 0.3em lightblue;
    border-radius: 15px;

    background-color: black;
    color: white;
}