article {
    height: 100vh;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @media (max-width: 1050px) {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        
    }
}

h1 {
    text-align: center;
    color: lightseagreen;
}

p {
    text-align: justify;
}

li {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: lightseagreen;

    &:hover {
        color: seagreen;
    }

    &:visited {
        text-decoration: inherit;
    }
}

.card {
    width: 80%;
    height: 400px;
    padding: 2em; 
    margin: auto;
    margin-top: 10px;

    // box-shadow: 5px 5px white;
    border-radius: 1em;

    background-color: black;
    color: white;
}