.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    padding: 1em;
}

.card {
    width: 35em;
    height: 650px;

    text-align: justify;

    border-radius: 15px;

    margin: auto;
    padding: 1em;

    box-shadow: lightblue 0.3em 0.3em 0.3em 0.3em;

    overflow: auto;
}

.link {
    text-decoration: none;
    color: orangered;

    &:visited {
        text-decoration: none;
        color: orangered;
    }

    &:hover {
        color: orange;
    }
}

.canvas-container {
    height: 230px;
    width: 230px;
    margin: auto;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: orangered;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}