<article>
    <section id="langs">
            <!-- <li><h2>Python</h2></li> -->
            <!-- <ul> -->
                <!-- <li>Pandas</li> -->
                <!-- <li>Numpy</li> -->
                <!-- <li>Scikit-learn</li> -->
                <!-- <li>Pytorch</li> -->
                <!-- <li>HuggingFace Transformers</li> -->
                <!-- <li>Matplotlib</li> -->
                <!-- <li>Seaborn</li> -->
                <!-- <li>Rasa</li> -->
                <!-- <li>FastAI</li> -->
                <!-- <li>FastAPI</li> -->
            <!-- </ul> -->
            <!-- <li><h2>Java</h2></li> -->
            <!-- <li><h2>JavaScript</h2></li> -->
            <!-- <ul> -->
                <!-- <li>TypeScript</li> -->
                <!-- <li>Angular</li> -->
                <!-- <li>D3</li> -->
            <!-- </ul> -->
            <!-- <li><h2>C/C++</h2></li> -->
            <!-- <li><h2>Clojure</h2></li> -->
            <!-- <li><h2>Prolog</h2></li> -->
    </section>
    <section id="dbs">
        <!-- <h1>Databases</h1> -->
        <!-- <ul> -->
            <!-- <li><h2>SQL</h2></li> -->
            <!-- <ul> -->
                <!-- <li>PostgreSQL</li> -->
                <!-- <li>Transact SQL</li> -->
                <!-- <li>MariaDB</li> -->
            <!-- </ul> -->
            <!-- <li><h2>NoSQL</h2></li> -->
            <!-- <ul> -->
                <!-- <li>MongoDB</li> -->
                <!-- <li>ChromaDB</li> -->
                <!-- <li>Neo4j</li> -->
            <!-- </ul> -->
        <!-- </ul> -->
    </section>
    <section id="bi-tools">
        <!-- <h1>BI Tools</h1> -->
        <!-- <ul> -->
            <!-- <li><h2>Tableau</h2></li> -->
            <!-- <li><h2>PowerBI</h2></li> -->
            <!-- <li><h2>Superset</h2></li> -->
        <!-- </ul>  -->
    </section>
    <section id="data-tools">
        <!-- <h1>Tools</h1> -->
        <!-- <ul> -->
            <!-- <li><h2>Data Engineering</h2></li> -->
            <!-- <ul> -->
                <!-- <li>Apache Airflow</li> -->
                <!-- <li>Apache Spark</li> -->
                <!-- <li>Mage AI</li> -->
            <!-- </ul> -->
            <!-- <li><h2>Other</h2></li> -->
            <!-- <ul> -->
                <!-- <li>Git</li> -->
                <!-- <li>Docker</li> -->
                <!-- <li>Kubernetes</li> -->
                <!-- <li>Bash</li> -->
                <!-- <li>Powershell</li> -->
            <!-- </ul> -->
        <!-- </ul>  -->
    </section>
    <section id="cloud"></section>
    <section id="dev-tools">
    </section>
</article>