.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    padding: 1em;
}

.card {
    width: 500px;
    height: 310px;
    margin: auto;
    padding: 2em;

    // box-shadow: lightblue 5px 5px 5px 5px;
    border: 1px lightblue solid;
    border-radius: 15px;
    
    overflow: auto;

    @media (max-width: 500px) {
        height: auto;
    }
}