article {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    padding: 1em;
}

section {
    // width: auto;
    // height: auto;
    // overflow: auto;

    // text-align: justify;

    // border-radius: 15px;

    margin: auto;
    // padding: 1em;
}


h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

.bar {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: lightblue 5px 5px 5px 5px;
}

.bar-title {
    text-anchor: middle;
    font-size: 1.7em;
}