<main>
    <nav>
        <div>
            <ul>
                <li><a id="name">Aleksandar Kitanovski</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a>Skills</a></li>
                <li><a>Technologies</a></li>
                <li><a>Projects</a></li>
                <li><a>About Me</a></li>
            </ul>
        </div>
    </nav>
    <section class="content">
        <img src="./assets/timeline.png" alt="A timeline of my life">
    </section>
</main>