nav {
    display: inline-flex;
    justify-content: space-between;
    background-color: #3C887E;
    color: white;
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    font-weight: bolder;
    @media (max-width: 650px) {
        height: 100px;        
    }
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1em;

    &:visited {
        color: inherit;
    }
    
    &:hover {
        background-color: orangered;
        color: white;
    }
}

.content {
    padding-top: 50px;
    @media (max-width: 650px) {
        padding-top: 100px;
    }
}