#navigation {
    display: flex;
    justify-content: space-between;
    background-color: #247BA0;
    color: white;
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    font-weight: bolder;

    @media (min-width: 600px) {
       height: 50px !important; 
       flex-direction: row !important;
    }
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1em;

    &:visited {
        color: inherit;
    }
    
    &:hover {
        background-color: orangered;
        color: white;
    }
}

#links {
    @media (max-width: 600px) {
        display: none;
    }
    @media (min-width: 600px) {
        display: inline-block !important;
    }
}

.icon {
    display: none;

    @media (max-width: 600px) {
        display: inline;
    }
}

#content {
    padding-top: 50px;

    @media (min-width: 600px) {
        padding-top: 50px !important;;
        
    }
}