<main>
    <nav id="navigation">
        <div>
            <ul>
                <li><a [routerLink]="['/']">Aleksandar Kitanovski</a></li>
            </ul>
        </div>
        <div id="links">
            <ul>
                <li><a [routerLink]="['skills']">Skills</a></li>
                <li><a [routerLink]="['technologies']">Technologies</a></li>
                <li><a [routerLink]="['projects']">Projects</a></li>
                <li><a [routerLink]="['about-me']">About Me</a></li>
            </ul>
        </div>
        <a class="icon" (click)="toggle()"><i class="fa fa-bars"></i></a>
    </nav>
    <section id="content">
        <router-outlet></router-outlet>
    </section>
</main>